<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        <section class="container my-5">
            <div class="alert alert-danger text-center" role="alert">
                <h2>[[#{e403.titulo}]]</h2>
                <p>[[#{error.recurso.acceso}]]</p>
            </div>
        </section>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
